1. Write a cpp code that reads two numbers and prints their sum, difference and product.
2. Write a cpp program that swaps the value of 2 integers using a temporary variable.
3. Ask the user for the total purchase amount and write the total amount and calculate the sales tax at 6%.
